/* menu.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
  }
  
h1 {
  text-align: center;
  margin-bottom: 20px;
}

.menu-container {
  width: 80%;
  max-width: 1000px;
  margin: 20px auto;
}

.section {
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

.section h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.button-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  gap: 10px;
  padding-bottom: 10px;
}

.item-button {
  background-color: #87aade;
  color: #333;
  border: none;
  border-radius: 8px;
  padding: 10px;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.item-button:hover {
  background-color: #6399cd;
}


.navbar {
  width: 200px;
  display: flex;
  flex-direction: column;

  position: fixed; /* Fixes the navbar to the left side of the screen */
  top: 0;           /* Aligns the navbar to the top */
  left: 0;          /* Aligns the navbar to the left */
  width: 200px;     /* Set the width of the navbar */
  height: 100vh;    /* Fills the entire vertical height of the screen */
  display: flex;    /* Allows you to organize items vertically */
  flex-direction: column; /* Items will be stacked vertically */
  background-color: #f0f0f0;  /* Optional: background color */
  padding-top: 20px; /* Optional: spacing from the top */
}

.nav-btn {
  padding: 10px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
  list-style-type: none;
}

.nav-list {
  padding: 0;
  list-style-type: none;
}

.content {
    flex: 1;
    padding: 20px;
    margin-left: 20px; /* Leaves space for the sidebar */
}