
.sidebar .nav-link {
    color: black !important;
}
.sidebar .nav-link:hover {
    color: black !important;
}
.restrictedImage {
    width: 150px;
    height: 150px;
    object-fit: cover; 
}
.menu-item {
    position: relative;
    text-align: center;
    margin: 15px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    width: 100%; 
}
.image-container img {
    width: 100%;
    border-radius: 5px;
}


